.content{
    width:70%;
    height: 600px;
    margin-left: 200px;
    background-image: url(bg-admin.jpg);
}

.champ{
    position: absolute;
    background-color: white; 
    width: 45%;
    height: 45%;
    margin-left: 140px;
    margin-top: 160px;
}
.but{
    width: 220px;
    height: 65px;
    margin-left: 59%; 
    margin-top: 25px;
    
    color:white;
    background-color: greenyellow;
    font-size: 30px;
}
.pwd{
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 30px;
}
.pla{
width: 90%;
height: 60px;
margin-left: 5%;
margin-top: 30px;
}